
.main{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
}

.main2{
    background-color: brown;
    height: 100px;
    width: 100px;
}

.main3{
    background-color: yellow;
    height: 50px;
    width: 50px;
}