<!-- <div class="container">

  <h2>fgghh</h2>
</div>

{{mySurname}} ,,,  <br>


{{mysurname2}} ....... <br>
// {{test()}} ///////// -->

 <!-- or -->
 <!-- <button (click)="test()">click</button> -->



<!-- <br><br> -->


<!-- <app-user></app-user> -->
<!-- <app-databinding></app-databinding> -->

<!-- <button routerLink="/user">user</button> &nbsp;&nbsp;&nbsp;
<button routerLink="/databinding">databinding</button> &nbsp;&nbsp;&nbsp;
<a routerLink="/user">user with routerLink</a> &nbsp;&nbsp;&nbsp;
<a href="/user">user with href</a> &nbsp;&nbsp;&nbsp;it will not use bcz it will refresh our application 
so all data will be lost--> 

<!-- <button routerLink="/abc">wildcard</button> &nbsp;&nbsp;&nbsp; -->
<!-- <button routerLink="/homeComponent">home-homecomponent</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/landingcomponent">home-landingcomponent'</button>&nbsp;&nbsp;&nbsp; -->

<!-- <a href="/aaa">aaa</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button routerLink="/a"> bbb-acomponent</button>&nbsp;&nbsp;&nbsp; -->

<!-- <button routerLink="/abc">wildcard</button> &nbsp;&nbsp;&nbsp; <br> -->

<!-- <button routerLink="/home/homeComponent">home-homecomponent</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/home/landingcomponent">home-landingcomponent'</button>&nbsp;&nbsp;&nbsp; -->

<!-- <button routerLink="/bmodule/a"> amodule-a compo</button>&nbsp;&nbsp;&nbsp; -->
 <!-- <button routerLink="/aboutus/aboutuslanding">aboutslanding</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button routerLink="/aboutus/aboutusdetails">aboutsdetails</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<button routerLink="/test/testhome">test-home</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/test/testcontact">test-contact</button> -->
<!-- <button routerLink="/admin">admin-admin</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- <button (click)="admin()">admin by .ts file</button> -->

<app-header></app-header>

<router-outlet></router-outlet>

<!-- <app-footer></app-footer> -->
