<p>aboutuslanding works!</p>
<h1>{{carName}}</h1> <br>
Name: {{data.age}} <br>
Age: {{data.name}} <br> <br>

<button (click)="getDataByService()">getData</button> <br>
<div *ngIf="data1">
    value:{{data1}} <br>
    set fruit value : {{fruit}}
</div>
 <br>
 <button (click)="setdata()">setdata</button> <br> <br>

 <button (click)="getstudentname()">click get student</button> <br>
 {{studentname}} <br>

 <button (click)="setstudentname()">setstudentname</button> <br>

 <button (click)="mul()">mul</button> <br>
 {{multi}} ..multiplication