

 <button routerLink="/home/homeComponent">home-homecomponent</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/home/landingcomponent">home-landingcomponent'</button>&nbsp;&nbsp;&nbsp;

<button routerLink="/bmodule/a"> amodule-a compo</button>&nbsp;&nbsp;&nbsp; 
<button routerLink="/aboutus/aboutuslanding">aboutslanding</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button routerLink="/aboutus/aboutusdetails">aboutsdetails</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<button routerLink="/test/testhome">test-home</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/test/testcontact">test-contact</button> &nbsp;&nbsp;
<a routerLink="/aaa">aaa</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button routerLink="/directive">directive</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/form">form</button> <br>
<button routerLink="/form/reactive">reactive</button>&nbsp;&nbsp;&nbsp;
<button (click)="template()">templatedriven</button> <br>
<button routerLink="/aaa"> aaa-acomponent</button>&nbsp;&nbsp;
