<p>applicationlanding works!</p>

<!-- <button routerLink="/home/homeComponent">home-homecomponent</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/home/landingcomponent">home-landingcomponent'</button>&nbsp;&nbsp;&nbsp;

<button routerLink="/bmodule/a"> amodule-a compo</button>&nbsp;&nbsp;&nbsp; -->
<!--<button routerLink="/aboutus/aboutuslanding">aboutslanding</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button routerLink="/aboutus/aboutusdetails">aboutsdetails</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<button routerLink="/test/testhome">test-home</button>&nbsp;&nbsp;&nbsp;
<button routerLink="/test/testcontact">test-contact</button> -->